/* Header */

/* Hero section */

/* About us section */

/* Advantages section */

/* Procedures section */
.procedures-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.procedures-item {
  flex-basis: calc((100% - 32px) / 3);
}
.procedures-card {
  display: flex; /* Вроде как выровнял, а надо ли */
  height: 456px;
  align-items: end; /* Вроде как выровнял, а надо ли */
  justify-content: center; /* Вроде как выровнял, а надо ли */
  text-align: center; /* Вроде как выровнял, а надо ли */
  padding: 32px 77px 32px 115px; /* Может через фомулу вывести как-то */
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.73) 84.61%,
    #011c44 101.39%
  );
  border: 1px solid black; /* remove later */
  border-radius: 4px 120px;
}
.procedures-name {
  color: var(--color-primary-light);
  line-height: 1.2;
}

/* Carousel */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 44px;
  height: 44px;
  fill: var(--color-primary-dark);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}
.carousel-button:hover {
  background-color: var(--color-brand-normal);
  fill: var(--color-primary-light);
}

/* Contacts section */

/* Footer section */
