/* Header */

/* Hero section */

/* About us section */
.about-us-section {
  padding-bottom: 128px;
}
.about-us-container {
  display: flex;
  gap: 28px;
}
.about-us-text {
  display: flex;
  flex-direction: column;
  margin: 40px 28px 200px 0;
}
.section-title.limited {
  max-width: 530px;
}
.section-title.limited .accent {
  color: var(--color-brand-normal);
}
.about-us-container-text {
  margin: 0;
  padding-top: 40px;
}
.about-us-container-text .brand {
  font-weight: 600;
}
.about-us-container-text .capitalize {
  text-transform: capitalize;
}
.about-us-image {
  border-radius: 50%;
}

/* Advantages section */
.container.limited {
  max-width: 1060px;
}
.section-title.centered .accent {
  color: var(--color-brand-normal);
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  color: var(--color-secondary-dark);
  font-size: 18px;
  line-height: 1.35;
}
.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
  padding: 24px 32px;
  /* background-image: #fff; */ /* Chrome said invalid */
  border: 1px solid black; /* remove later */
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38); /* Fix with var later? */
}
.advantages-icon {
  fill: var(--color-brand-normal);
}

/* Procedures section */
.procedures-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.procedures-item {
  flex-basis: calc((100% - 32px) / 3);
}
.procedures-card {
  display: flex; /* Вроде как выровнял, а надо ли */
  height: 456px;
  align-items: end; /* Вроде как выровнял, а надо ли */
  justify-content: center; /* Вроде как выровнял, а надо ли */
  text-align: center; /* Вроде как выровнял, а надо ли */
  padding: 32px 77px 32px 115px; /* Может через фомулу вывести как-то */
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.73) 84.61%,
    #011c44 101.39%
  );
  border: 1px solid black; /* remove later */
  border-radius: 4px 120px;
}
.procedures-name {
  color: var(--color-primary-light);
  line-height: 1.2;
}

/* Carousel */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 44px;
  height: 44px;
  fill: var(--color-primary-dark);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}
.carousel-button:hover {
  background-color: var(--color-brand-normal);
  fill: var(--color-primary-light);
}

/* Contacts section */

/* Footer section */
