.about-us-section {
  padding-top: 16px;
  padding-bottom: 14px;

  @media screen and (min-width: $bp-tablet) {
    padding-top: 0;
  }

  @media screen and (min-width: $bp-desktop) {
    padding-bottom: 96px;
  }

  &__container {
    position: relative;
  }

  &__text-part {
    max-width: 670px;
    margin: 0 auto;

    @media screen and (min-width: $bp-desktop) {
      margin: 0;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 16px;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 40px;
    }
  }

  &__images-part {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  &__image-before {
    position: absolute;
    top: -40px;
    right: 172px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px var(--color-shadow);
  }

  &__image-after {
    position: absolute;
    top: 327px;
    right: 0;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px var(--color-shadow);
  }

  &__background-star {
    position: absolute;
    animation: spin-scale-1 12s 2s infinite linear;

    &:hover,
    &:hover ~ & {
      animation-play-state: paused;
    }

    @keyframes spin-scale-1 {
      0% {
        transform: rotate(0deg);
      }
      25% {
        scale: 1.5;
      }
      50% {
        scale: 1;
      }
      75% {
        scale: 1.5;
      }
      100% {
        scale: 1;
        transform: rotate(360deg);
      }
    }

    &:first-child {
      bottom: -41px;
      right: 1px;

      @media screen and (min-width: $bp-tablet) {
        width: 56px;
        height: 56px;
      }

      @media screen and (min-width: $bp-desktop) {
        top: 316px;
        right: 314px;
      }
    }

    &:nth-child(2) {
      display: none;
      top: 4px;
      right: -14px;

      @media screen and (min-width: $bp-desktop) {
        display: block;
      }
    }

    &:nth-child(3) {
      display: none;
      top: 232px;
      right: 8px;

      @media screen and (min-width: $bp-desktop) {
        display: block;
      }
    }
  }
}
